version: '3.8'

services:
  cart-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=development
      - PORT=3002
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=nemmer
      - DB_PASSWORD=nemmer
      - DB_NAME=cart_service_db
    depends_on:
      - postgres

  postgres:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=nemmer
      - POSTGRES_PASSWORD=nemmer
      - POSTGRES_DB=cart_service_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
